@model Trackii.Models.Admin.Role.RoleListVm

<h2>Roles</h2>

<a href="/Admin/Role/Create">Nuevo</a>

<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    @foreach (var r in Model.Items)
    {
        <tr>
            <td>@r.Name</td>
            <td>
                <a href="/Admin/Role/Edit/@r.Id">Editar</a>
            </td>
        </tr>
    }
</table>
